<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Escola WM</title>

	<!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

</head>
<body class="grey lighten-3">

	<h1 class="main-title center">Bem vindo ao Sistema Escola WM</h1>
	
	<div class="row center">
		<a href="aluno/cadastrar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">perm_identity </i>
					<div class="truncate">Cadastrar Alunos</div>
				</div>
			</div>
		</a>
		<a href="/aluno/listar">
			<div class="col s12 m4 l4  waves-effect waves-light ">
				<div class="card-panel hoverable z-depth-1 center grey lighten-4">
					<i class="large material-icons ">search </i>
					<div class="truncate">Pesquisas</div>
				</div>
			</div>
		</a>
		<div class="col s12 m4 l4 waves-effect waves-light">
	    <a href="/aluno/pesquisarnome">
	        <div class="card-panel hoverable z-depth-1 center grey lighten-4">
	            <i class="large material-icons">search</i>
	            <div class="truncate">Pesquisar por nome</div>
	        </div>
	    </a>
</div>
	
	</div>
	
	<!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>